NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

GEMINI_API_KEY=
GEMINI_API_KEY_2=
# Alternative for more keys:
# GEMINI_API_KEYS=key1,key2,key3
OPENWEATHER_API_KEY=

MQTT_BROKER_URL=mqtts://YOUR_CLUSTER.s1.eu.hivemq.cloud:8883
MQTT_USERNAME=
MQTT_PASSWORD=
IOT_INGEST_TOKEN=

AUTOPILOT_CRON_TOKEN=
AUTOPILOT_DEFAULT_TANK_CAPACITY_LITERS=1000
AUTOPILOT_DEFAULT_TANK_AVAILABLE_LITERS=850
AUTOPILOT_DEFAULT_TANK_RESERVE_LITERS=80
AUTOPILOT_DEFAULT_WATER_SAVING_PERCENT=70
AUTOPILOT_DEFAULT_FLOW_LPM=10
AUTOPILOT_DEFAULT_MAX_LANDS=12

NEXT_PUBLIC_DEFAULT_MAP_LAT=33.3152
NEXT_PUBLIC_DEFAULT_MAP_LNG=44.3661
